body {
    font-family: var(--roboto);
    background-color: var(--fond);
    color: var(--bleu);
    line-height: 1.7;
    overflow-x: hidden;
}
/* Styles globaux */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    font-family: var(--staatliches-regular);
    text-decoration: none;
    color: inherit;
}

/* Container principal */
.container {
    max-width: 393px;
    margin: 0 auto;
    width: 100%;
}

p {
    font-family: var(--roboto);
    text-decoration: none;
    color: inherit;
    font-size: var(--size-12);
}

li {
    font-family: var(--roboto);
    text-decoration: none;
    color: inherit;
}

h1
h2
h3 {
    font-family: var(--staatliches-regular);
}