/* Collection 1 */
:root {
    /* color */
    --fond: #eeeeee;
    --noir: #000000;
    --bleu-fonce: #041024;
    --bleu: #0d1782;
    --vert: #9dcba2;
    --blanc: #ffffff;
    --vert-foncer: #007224;
    --gris: #d1d1d1;
    /* number */
    --size-12: 0.75rem;
    --size-16: 1rem;
    --size-24: 1.5rem;
    /* string */
    --bold: var(--static-weight-bold);
    --regular: var(--weight-regular-italic);
    
    /*Polices de caractère*/
    --staatliches-regular: "Staatliches", sans-serif;
    --roboto: "Roboto", sans-serif;
}

/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


footer{
    background-color: var(--black-blue);
}