/* Collection 1 */
:root {
    /* color */
    --background: #eeeeee;
    --black: #000000;
    --black-blue: #041024;
    --blue: #0d1782;
    --green: #9dcba2;
    --light: #ffffff;
    --txt-green: #007224;
    /* number */
    --size-12: 0.75rem;
    --size-16: 1rem;
    --size-24: 1.5rem;
    /* string */
    --bold: var(--static-weight-bold);
    --regular: var(--weight-regular-italic);
    
    /*Polices de caractère*/
    --staatliches-regular: "Staatliches", sans-serif;
    --roboto: "Roboto", sans-serif;
}
