/* Page article */
.article {
    padding: 20px;
}


.article__content {
    font-size: 15px;
    line-height: 25.5px;
    margin-bottom: 20px;
}

.article__img img {
    margin : 0 auto;
    width: 90%;
    height: auto;
    margin-bottom: 10px;
}

.list__link {
    color: var(--noir);
    margin-left: 40px;
    font-family: var(--staatliches-regular);
}

.article__img__rond img{
    margin-left: 150PX;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.article__img__photo {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.article__img__photo img {
    width: 50%;
    height: auto;
}

.article__txt__nom {
    color: var(--noir);
    margin-left: 195px;
    margin-bottom: 10px;
}

.article__txt__title {
    text-align: center;
    font-family: var(--roboto);
}

.article__video video {
    width: 80%;
    margin-left: 32px;
    margin-bottom: 10px;
}