.footer {
    background-color: var(--bleu-fonce);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.footer__item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer__link {
    align-self: flex-start;
}

.footer__link img {
    width: 70px;
    height: auto;
    object-fit: contain;
}

.footer__text {
    font-size: var(--size-12);
    color: #ffffff;
    opacity: 0.5;
    text-align: center;
}

.footer__img {
    align-self: flex-end;
    margin-top: 30px;
}
