.header {
    background-color: var(--vert-foncer);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 80px;
    height: 53px;
    position: relative;
    z-index: 103;
}

.header__logo img {
    width: 100%;
    height: auto;
}

/* Section header */
.section-header {
    background-color: var(--vert-foncer);
    padding: 12px 20px;
}

.section-header__title {
    color: var(--light);
    font-size: 30px;
    font-weight: 400;
}

/* Intro section */
.intro {
    padding: 20px 21px;
    font-size: 15px;
    line-height: 25.5px;
}

.intro__image {
    width: 260px;
    height: 267px;
    margin: 20px auto;
    border-radius: 20px;
    overflow: hidden;
}