/* Hero */
.hero {
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    overflow: visible;
    margin-bottom: 120px;
}
.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}