.accordion {
    margin-bottom: 1rem;
}

.accordion-content {
    background-color: var(--gray);
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion-content.open {
    max-height: 1000px;
}