.annexe {
    margin-top: 3rem;
    margin-left: 5px;
}

.article__txt__item {
    font-size: var(--size-12);
    font-family: var(--roboto);
    color: var(--noir);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.list__txt__item {
    font-size: var(--size-12);
    font-family: var(--roboto);
    color: var(--noir);
    margin-left: 20px;
    margin-right: 20px;
    list-style-type: none;
}

.article__txt__title {
    font-family: var(--staatliches-regular);
    font-size: var(--size-16);
    line-height: 25.5px;
    color: var(--noir);
    margin-left: 20px;
    margin-right: 20px; 
}

.article_link {
    color: var(--vert-foncer);
    margin-left: 20px;
    margin-right: 20px;
}

/* Section contact */
.contact-section {
    background-color: var(--vert-foncer);
    padding: 20px;
    margin-top: 30px;
    text-align: center;
}

.contact-section__title {
    color: var(--bleu);
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 0px;
}

.contact-section__btn {
    color: var(--bleu);
    padding: 12px 85px;
    border-radius: 35px;
    font-size: 20px;
    font-weight: 700;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: transform 0.2s;
    text-decoration: none;
    border-color: var(--bleu);
    font-family: var(--staatliches-regular);
    font-size: var(--size-24);
}

.contact-section__btn:hover {
    transform: translateY(-2px);
}

/* Formulaire de contact */
.contact-form {
    padding: 20px;
}

.contact-form__group {
    margin-bottom: 20px;
    margin-left: 20px;
}

.contact-form__label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-form__input,
.contact-form__textarea {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: transparent;
    font-size: 15px;
    color: var(--vert-foncer);
}

.contact-form__input::placeholder,
.contact-form__textarea::placeholder {
    color: rgba(51, 29, 44, 0.5);
}

.contact-form__textarea {
    min-height: 50px;
    resize: vertical;
}

.language {
    text-align: center;
    color: var(--bleu);
    font-family: var(--staatliches-regular);
    font-size: var(--size-24);
}

.contact-form {
    margin-top: 60%;
}