.btn {
    margin: 2rem 1rem;
    padding: 1.5rem 1rem;
    border-radius: 8px;
    background: var(--green);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.btn h2 {
    color: var(--black-blue);
}

.btn a img {
    width: 60px;
    height: auto;
}

.btn__home {
    position: relative;
    top: 10px;
    left: 60%;
    width: auto;
    height: auto;
    object-fit: contain;
    border: transparent;
    margin-bottom: 10px;
}

/* Bouton retour haut de page */
.back-to-top {
    background-color: var(--violet);
    color: var(--beige);
    padding: 15px 30px;
    border-radius: 35px;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    margin: 30px auto;
    cursor: pointer;
}