.btn {
    margin: 2rem 1rem;
    padding: 1.5rem 1rem;
    border-radius: 8px;
    background: var(--green);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.btn h2 {
    color: var(--black-blue);
}

.btn a img {
    width: 60px;
    height: auto;
}