.btn {
    margin: 0 auto;
    padding: 2.25rem 1.5rem;
    border-radius: 8px;
    background: var(--green);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.btn h2 {
    color: var(--black-blue);
}

.btn a img {
    width: 90px;
    height: auto;
}

.btn__home {
    margin-left: 190px;
    width: 90px;
    height: auto;
    object-fit: contain;
    border: transparent;
}

.btn__link {
    font-size: 1.5em;
}

/* Bouton retour haut de page */
.back-to-top {
    background-color: var(--violet);
    color: var(--beige);
    padding: 22.5px 45px;
    border-radius: 35px;
    font-size: 27px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
}