.btn {
    margin: 0 auto;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.btn h2 {
    color: var(--bleu);
}

.btn a img {
    width: 90px;
    height: auto;
}

.btn__home {
    margin-left: 250px;
    width: 110px;
    height: auto;
    object-fit: contain;
    border: transparent;
}

.btn__link {
    font-size: 1.5em;
}
