.carousel {
    margin: 2rem 0;
    padding: 0 1rem;
}

.subtitle {
    font-family: var(--staatliches-regular);
    font-size: var(--24);
    color: var(--blue);
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.carousel__container img {
    width: 100%;
    border-radius: 6px;
}

