.u-list__articles {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1.5rem;
    padding: 1rem;
    margin-top: 40rem;
}

.list__item {
    width: 100%;
}

.list__link__article {
    display: block;
    margin: 0 auto;
}

.list__link__article img{
    width: 90%;
    height: auto;
    border-radius: 6px;
    display: block;
    margin: 0 auto;
}

.list__link {
    display: block;
    margin-left: 40px;
}