.u-list__articles {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}

.list__item {
    width: 100%;
}

.list__link {
    display: block;
    margin: 0;
}

.list__link img {
    width: 90%;
    height: auto;
    border-radius: 6px;
    display: block;
    margin: 0 auto;
}