.header {
    position: relative;
    z-index: 20;
    background: transparent;
}

.header__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.header__link__img {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__langage img {
    width: 65px;
    height: auto;
}

.header__link-logo img {
    width: 50px;
    height: auto;
}

/*menu*/
.menu-btn {
    width: 32px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    position: relative;
     z-index: 30;
}

/* Barres */
.menu-btn__bar {
    width: 100%;
    height: 3px;
    background-color: var(--noir);
    transition: transform 0.4s ease;
}

/*menu ouvert*/
.menu-btn[aria-expanded="true"] {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 40;
}

/* croix */
.menu-btn[aria-expanded="true"] .menu-btn__bar--top {
    transform: translateY(10px) rotate(45deg);
    background-color: var(--blanc);
}

.menu-btn[aria-expanded="true"] .menu-btn__bar--bottom {
    transform: translateY(-10px) rotate(-45deg);
    background-color: var(--blanc);
}



/*menu */
.menu {
    position: fixed;
    inset: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    padding-top: 6rem;
    background-color: var(--bleu-fonce);
    transform: translateY(0);
    transition: transform 0.7s ease-in-out, visibility 0.4s;
    visibility: visible;
    pointer-events: none;
}

.menu[hidden] {
    transform: translateY(-100%);
    visibility: hidden;
}

.menu:not([hidden]) {
    pointer-events: auto;
}

/* list*/
.menu__main-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.menu__link {
    color: var(--blanc);
    text-decoration: none;
    font-size: var(--size-24);
}